<ul class="nav navbar-nav navbar-right">
    <li><a tooltip-placement="bottom" tooltip="Pan working area left" ng-click="pan('left')" href="#"><span
            class="glyphicon glyphicon-arrow-left"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Pan working area up" ng-click="pan('up')" href="#"><span
            class="glyphicon glyphicon-arrow-up"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Pan working area down" ng-click="pan('down')" href="#"><span
            class="glyphicon glyphicon-arrow-down"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Pan working area right" ng-click="pan('right')" href="#"><span
            class="glyphicon glyphicon-arrow-right"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Zoom in" ng-click="zoomIn()" href="#"><span
            class="glyphicon glyphicon-zoom-in"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Zoom out" ng-click="zoomOut()" href="#"><span
            class="glyphicon glyphicon-zoom-out"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Reset zoom and pan" ng-click="zoomReset()" href="#"><span
            class="glyphicon glyphicon-resize-full"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Delete the database" ng-click="nukeStore()" href="#"><span
            class="glyphicon glyphicon-fire"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Saves the current model" ng-click="openSaveModal()" href="#"><span
            class="glyphicon glyphicon-floppy-disk"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Loads a saved model" ng-click="openLoadModal()"
           href="#"><span class="glyphicon glyphicon-folder-open"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Export a model to file" ng-click="openExportModal()"
           href="#"><span class="glyphicon glyphicon-export"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Import a model from file" ng-click="openImportModal()"
           href="#"><span class="glyphicon glyphicon-import"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Resets the workspace" ng-click="resetSvgWorkspace()"
           href="#"><span class="glyphicon glyphicon-trash"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Validate the designed model" ng-click="validateModel()"
           href="#"><span class="glyphicon glyphicon-ok-circle"></span></a></li>
    <li><a tooltip-placement="bottom" tooltip="Opens the help page" target="_blank"
           href="README.html"><span class="glyphicon glyphicon-question-sign"></span></a></li>
</ul>